@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Explore the world of ASP.NET Core web development.</p>
        <p> About <a href="https://github.com/bedaba" class="btn btn-primary btn-lg">github</a></p>
    </div>
</div>
